/*  Universal selector - does not get inherited */
*{
    /* border-top:10px solid #1098ad; */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* not inherited by child elements, so we put it in universal selector*/
} 

body{
    color: #444;
    font-family: sans-serif;
    border-top: 10px solid #1098ad;
    position: relative;
}

.container{
    width: 1200px;
    margin:0 auto;
}

.main-header{
    background-color: #f7f7f7;
    padding: 20px 40px;
    margin-bottom: 50px;
}
article{
    margin-bottom: 60px;
}

nav {
    font-size: 18px;
    text-align: center;
}

.post-header{
    margin-bottom:40px;
}

aside{
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding: 30px 30px;
}

/* Smaller Elements*/
h1,
h2,
h3,
h4{
    color: #1098ad ;
    
}

h1{
    font-size : 30px; 
    font-family: sans-serif;
    font-style: italic;
}

h2{
    font-size : 25px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

h3{
    font-size: 25px;
    font-family: sans-serif;
    
}
h4{
    font-size: 25px;
    font-family: sans-serif;
    margin-top:40px;
    margin-bottom:20px;
}
h5{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-align:center;
    margin-bottom:30px;
}


p{
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;   
    margin-bottom:15px;
}

ul ,ol{
    margin-left: 50px;
}


li{
    font-family: sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    /* display: inline; */
}
footer p {
    font-size: 15px;
}


#author{
    font-style: italic;
}

#copyright{
    font-style: italic;
}

.related-author{
    font-size: 18px;
    font-weight: bold;
}

.related-list{
    list-style:none;
}

.main-header{
    background-color:#f7f7f7;
}


/* pseudo classes */
li:first-child{
    font-weight: bold;
}

li:last-child{
    font-style:italic;
}

/* pseudo elements */
h1::first-letter{
    font-style: normal;
    margin-right: 5px;
}

h3 + p::first-line{
    /* color:red; */
}

h2{
    position:relative;
}
h2::after{
    content: "TOP";
    background-color: #ffe70e;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    position:absolute;
    top:-20px;
    right:-25px;
}


/* Styling hyperlinks */
a:link{
    color:#1098ad;
    text-decoration: none;
}

a:visited{
    /*color: #777 */
    color: #1098ad;
}

a:hover{
    color: orangered;
    font-weight: bold;
    text-decoration: underline solid orangered;
}

a:active{
    background-color: black;
    font-style: italic;
} 
/* LVHA */

.post-image{
    width: 100%;
    height: auto;
}

nav a:link{
    margin-right:30px;
    margin-top:10px;
    display:inline-block;
}

.like-button{
    font-size: 22px;
    padding:15px;
    cursor: pointer;
    position:absolute;
    /* top:50px;
    left:50px; */
    bottom:50px;
    right:50px
}

/* FLOATS */

/*  
.author-image{
    float:left;
    margin-bottom:20px;
}

.author{
    float: left;
    margin-top: 10px;
    margin-left:20px;
}

h1{
    float: left;
}
nav{
    float:right;
} 
*/

/*  not a god practice
.clear{
    clear: both;
} */

/* .clearfix::after{ 
    clear: both;
    content:" ";
    display: block; 
}

article{
    float: left;
    width:825px;
}
aside{
    float: right;
    width:300px;
}
footer{
    clear:both;
}   */

/* FLEXBOX */
.main-header{
    display: flex;
    justify-content: space-between ;
}

.author-info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.author{
    margin-bottom:0;
}

.related-post{
    display: flex;
    gap: 10px;
}

.related-link:link{
    display: block;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 5px;
}
.related-author{
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}
.related-post:last-child{
    margin-bottom: 0;
}

.row{
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
    gap: 75px;
}

article{
    margin-bottom: 0;
    flex: 1; /* adjusts the width to available space*/
}
aside{
    flex: 0 0 300px;
}